@model MazeMvcApp.Models.Maze

<h1>Maze Generator</h1>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Maze Generator App</title>

    <style>
        body {
            background-color: #f9f2f4;
            color: #333;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        h1 {
            color: #4b0082;
            text-align: center;
            margin-top: 50px;
        }

        .container {
           max-width: 600px;
            margin: 0 auto;
            padding: 20px;
        }

        .maze-container {
           background-color: #fff;
            border: 1px solid #4b0082;
            border-radius: 5px;
            padding: 10px;
            margin-top: 20px;
        }

        .button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #4b0082;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            margin-top: 20px;
            margin-right: 20px;
        }

        .button:hover {
            background-color: #800080;
        }
    </style>

</head>

<body> 

    <hr />

    <a href="@Url.Action("GenerateMaze", "Maze")" class="button">Generate Maze</a>
    <a href="@Url.Action("GenerateMaze", "Maze")" class="button">Solve Maze</a>

    <hr />

<div class="row">

        <div class="card">
            <div class="card-header">

                <h5>
                    Create a new maze
                </h5>
            </div>

            <div class="card-body">

                <form asp-controller="Home" asp-action="GenerateMaze" method="post">
                    <div class="mb-3">
                        <label class="form-label">NRow</label>
                        <input name="nRow" type="number" class="form-control" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">NCol</label>
                        <input name="nCol" type="text" class="form-control" />
                    </div>

                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>

                <div class="maze-container">
                    <div class="maze">
                        @if (@Model.NRow > 1 && @Model.NCol > 1)
                        {
                            @for (int i = 0; i < @Model.NRow; i++)
                            {
                                <div class="maze-row">
                                    @for (int j = 0; j < @Model.NCol; j++)
                                    {
                                        <!-- creating new class for each cell -->
                                        <div class="maze-cell@(i)@(j)">
                                            
                                        @if (@Model.Cells[i][j].TopEdge == true)
                                        {
                                            <style>
                                                .maze-cell@(i)@(j) {
                                                    border-top: 3px solid purple;
                                                    height: 20px;
                                                    width: 20px;
                                                }
                                            </style>
                                        }

                                        @if (@Model.Cells[i][j].BottomEdge == true)
                                        {
                                            <style>
                                                .maze-cell@(i)@(j) {
                                                    border-bottom: 3px solid purple;
                                                    height: 20px;
                                                    width: 20px;
                                                }
                                            </style>
                                        }

                                        @if (@Model.Cells[i][j].LeftEdge == true)
                                        {
                                            <style>
                                                .maze-cell@(i)@(j) {
                                                    border-left: 3px solid purple;
                                                    height: 20px;
                                                    width: 20px;
                                                }
                                            </style>
                                        }

                                        @if (@Model.Cells[i][j].RightEdge == true)
                                        {
                                            <style>
                                                .maze-cell@(i)@(j){
                                                    border-right: 3px solid purple;
                                                    height: 20px;
                                                    width: 20px;
                                                }
                                            </style>
                                        }

                                            @Model.Cells[i][j].ToEmptyString()

                                        </div>
                                    }
                                </div>
                            }
                        }
                    </div>

                </div>

                <style>
                    .maze {
                        display: grid;
                        grid-template-rows: repeat(@Model.NRow, 20px);
                        background-color: white;
                        padding: 10px;
                    }

                    .maze-row {
                        display: flex;
                    }

                    <!-- 
                    .maze-cell {
                        flex: 1;
                        background-color: white;
                        border-left: 1px solid black;
                        border-top: 1px solid black;
                        border-right: 1px solid black;
                        border-bottom: 1px solid black;
                    } 
                    -->

                </style>

            </div>

            <div class="card-footer">
            </div>
        </div>

</div>

</body>